/* Conteiner do Pokémon  */
.pokemon {
  width: 730px;
  margin-top: 50px;
  margin-bottom: 10px;
  display: grid;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px 95px;
  text-align: center;
  border-radius: 10px;
}

/* Nome do Pokémon */
.pokemon h1 {
  color: var(--cor-principal);
  filter: drop-shadow(2px 0 10px var(--cor-principal));
  font-size: 36px;
  width: 50%;
}

/* Cabeçalho das informações do Pokemon  */
.pokemon header {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

/* Formulário de info do pokemon  */
.pokemon form {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  height: max-content;
  align-items: center;
  margin: 10px 0;
  gap: 10px;
}

/* Texto do Formuláio  */
.pokemon form label{
  color: var(--cor-principal);
  filter: drop-shadow(2px 0 10px var(--cor-principal-75));
  font-size: 14px;
  border: 2px solid var(--cor-principal-50);
  padding: 5px 8px;
  border-radius: 10px;
}
/* Animação de input checado  */
.pokemon form input:checked ~ label{
  background-color: var(--cor-principal-75);
  color: white;
}

/* elementos do formulário do pokemon  */
.pokemon form * {
  width: max-content;
  height: max-content;

}

/* Imagem do Pokémon  */
.pokemon img {
  width: 200px;
  height: 205px;
  margin: 0 auto;
}

/* Conteiner das informações do Pokémon  */
.infoPokemon {
  width: 609px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Conteiner de informações do Pokémon  */
.infoPokemon div{
    width: 195px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 0;
}

/* Valor da informação  */
.infoPokemon h1 {
  font-size: 32px;
  color: var(--cor-principal-50);
  width: 100%;
  text-align: center;
  margin: 0 0;
}

/* Titulo da informação  */
.infoPokemon h2 {
  width: 100%;
  text-align: center;
  font-size: 24px;
  color: var(--cor-principal-75);
  margin: 0 0;
}

/* Tipos de Pokémon  */
.infoPokemon div .aco{
    color: rgba(192, 192, 192,0.5);
}
.infoPokemon div .agua{
  color: rgba(0, 255, 255,0.5);
}
.infoPokemon div .dragao{
  color: rgba(42, 0, 77, 0.5);
}
.infoPokemon div .eletrico{
  color: rgba(2, 120, 255, 0.5);
}
.infoPokemon div .fada{
  color: rgba(213, 2, 255, 0.5);
}
.infoPokemon div .fantasma{
  color: rgba(255, 255, 255, 0.5);
  filter: drop-shadow(0px 0px 15px black);
}
.infoPokemon div .fogo{
  color: rgba(255, 0, 0, 0.5);
}
.infoPokemon div .gelo{
  color: rgba(0, 255, 255, 0.35);
}
.infoPokemon div .inseto{
  color: rgba(68, 14, 0, 0.5);
}
.infoPokemon div .lutador{
  color: rgba(255, 94, 94, 0.5);
}
.infoPokemon div .normal{
  color: rgba(0, 0, 0, 0.5);
}
.infoPokemon div .pedra{
  color: rgba(80, 80, 80, 0.5);
}
.infoPokemon div .planta{
  color: rgba(7, 78, 0, 0.75);
}
.infoPokemon div .psiquico{
  color: rgba(157, 36, 255, 0.75);
}
.infoPokemon div .sombrio{
  color: rgba(27, 0, 49, 0.75);
}
.infoPokemon div .terrestre{
  color: rgba(51, 25, 0, 0.75);
}
.infoPokemon div .venenoso{
  color: rgba(73, 0, 133, 0.75);
}
.infoPokemon div .voador{
  color: rgba(255, 255, 255, 0.5);
  filter: drop-shadow(0px 0px 15px black);
}


/* Responsividade para Mobile  */
@media (max-width: 430px) {
  /* Conteiner do Pokémon  */
  .pokemon {
    width: 360px;
    padding: 20px 0;
  }
  /* Nome do Pokémon */
  .pokemon h1{
    width: 100%;
  }
  /* Conteiner das informações do Pokémon  */
  .infoPokemon {
    width: 260px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  /* Valor da informação  */
  .infoPokemon h1 {
    font-size: 32px;
  }

  /* Peso do Pokémon  */
  .infoPokemon div:nth-child(1) {
    width: 100%;
  }
  /* Vida do Pokémon  */
  .infoPokemon div:nth-child(4) {
    width: 100%;
  }
}
